<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>controller.home.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_archivo</servlet-name>
        <servlet-class>controller.archivo.Srv_archivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_catalogo</servlet-name>
        <servlet-class>controller.catalogo.Srv_catalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_categoria</servlet-name>
        <servlet-class>controller.categoria.Srv_categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_direccion</servlet-name>
        <servlet-class>controller.direccion.Srv_direccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_donacion</servlet-name>
        <servlet-class>controller.donacion.Srv_donacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_equipo_computacional</servlet-name>
        <servlet-class>controller.equipoComputacional.Srv_equipo_computacional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_estado</servlet-name>
        <servlet-class>controller.estado.Srv_estado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_estudiante</servlet-name>
        <servlet-class>controller.estudiante.Srv_estudiante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_galeria</servlet-name>
        <servlet-class>controller.galeria.Srv_galeria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_lista_deseos</servlet-name>
        <servlet-class>controller.listaDeseos.Srv_lista_deseos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_localidad</servlet-name>
        <servlet-class>controller.localidad.Srv_localidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_mochila</servlet-name>
        <servlet-class>controller.mochila.Srv_mochila</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_municipio</servlet-name>
        <servlet-class>controller.municipio.Srv_municipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_notificacion</servlet-name>
        <servlet-class>controller.notificacion.Srv_notificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_organizacion</servlet-name>
        <servlet-class>controller.organizacion.Srv_organizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_proceso_solicitud</servlet-name>
        <servlet-class>controller.procesoSolicitud.Srv_proceso_solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srv_recurso_tecnologico</servlet-name>
        <servlet-class>controller.recursoTecnologico.Srv_recurso_tecnologico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srv_rol</servlet-name>
        <servlet-class>controller.rol.Srv_rol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srv_sistema_operativo</servlet-name>
        <servlet-class>controller.sistemaOperativo.Srv_sistema_operativo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srv_solicitud</servlet-name>
        <servlet-class>controller.solicitud.Srv_solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Srv_usuario</servlet-name>
        <servlet-class>controller.usuario.Srv_usuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_archivo</servlet-name>
        <url-pattern>/srv_archivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_catalogo</servlet-name>
        <url-pattern>/srv_catalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_categoria</servlet-name>
        <url-pattern>/srv_categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_direccion</servlet-name>
        <url-pattern>/srv_direccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_donacion</servlet-name>
        <url-pattern>/srv_donacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_equipo_computacional</servlet-name>
        <url-pattern>/srv_equipo_computacional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_estado</servlet-name>
        <url-pattern>/srv_estado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_estudiante</servlet-name>
        <url-pattern>/srv_estudiante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_galeria</servlet-name>
        <url-pattern>/srv_galeria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_lista_deseos</servlet-name>
        <url-pattern>/srv_lista_deseos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_localidad</servlet-name>
        <url-pattern>/srv_localidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_mochila</servlet-name>
        <url-pattern>/srv_mochila</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_municipio</servlet-name>
        <url-pattern>/srv_municipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_notificacion</servlet-name>
        <url-pattern>/srv_notificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_organizacion</servlet-name>
        <url-pattern>/srv_organizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_proceso_solicitud</servlet-name>
        <url-pattern>/srv_proceso_solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srv_recurso_tecnologico</servlet-name>
        <url-pattern>/srv_recurso_tecnologico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srv_rol</servlet-name>
        <url-pattern>/Srv_rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srv_sistema_operativo</servlet-name>
        <url-pattern>/Srv_sistema_operativo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srv_solicitud</servlet-name>
        <url-pattern>/Srv_solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Srv_usuario</servlet-name>
        <url-pattern>/Srv_usuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
